.dar-application-row {
  clear: both;
  margin-top: 15px;
}

.dar-application-row:first-of-type {
  margin-top: 0;
}

.dar-steps {
  background-color: rgba(184, 205, 211, .15);
  padding: 20px 30px;
}

.dar-step-card {
  margin-bottom: '2rem';
  padding: 20px 0px;
}

.rp-row {
  margin: 2rem 1rem;
  max-width: 80%;
}

.rp-subrow {
  margin: 0 2rem;
}

.rp-row-title {
  font-weight: 500;
  color: #333F52;
  font-size: 14px;
}

.rp-row-description {
  font-weight: 100;
  color: #333F52;
  font-size: 14px;
}

.data-use-paragraph {
  margin-bottom: 2rem;
}

.data-use-list li:not(:last-child) {
  margin-bottom: 2rem;
}

.dar-form-notice-card {
  box-sizing: border-box;
  border: 1px solid #6B0080;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #6B0080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
