.dar-application-row {
  clear: both;
  margin-top: 15px;
}

.dar-application-row:first-of-type {
  margin-top: 0;
}

.dar-step-card {
  background-color: rgba(184, 205, 211, .15);
  padding: 20px 30px;
  margin-bottom: '2rem';
}

.rp-row {
  margin: 2rem 1rem;
  max-width: 80%;
}

.rp-subrow {
  margin: 0 2rem;
}

.rp-row-title {
  font-weight: 500;
  color: #333F52;
  font-size: 14px;
}

.rp-row-description {
  font-weight: 100;
  color: #333F52;
  font-size: 14px;
}



.dar-form-notice-card {
  box-sizing: border-box;
  border: 1px solid #6B0080;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #6B0080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

/*///////////////////////////////////////////////////////COLLABORATOR*/

.collaborator-summary-card {
  display: flex;
  padding: 2% 5%;
  border: 1px solid #0948B7;
  border-radius: 5px;
  background: #FFFFFFFF;
  margin: 1.5rem 0 1.5rem 0;
  justify-content: space-around;
}

.collaborator-summary-edit-button {
  display: flex;
  justify-content: flex-end;
  color: #0948B7;
  padding: 0 1%;
}

.collaborator-summary-delete-button {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 5px;
  padding: 0 1%;
}

.collaborator-edit-card {
  padding: 2% 7%;
  border: 1px solid #0948B7;
  border-radius: 5px;
  background: #FFFFFFFF;
  margin-top: 2%;
  margin-bottom: 2%;
}

.collaborator-edit-add-save-button {
  flex: 1;
  margin: 2px;
  border: 1px solid #0948B7;
  color: #FFFFFFFF;
  background-color: #0948B7;
  padding: 10px 20px;
}

.collaborator-edit-cancel-button/*cancelDeleteButtonStyle*/ {
  flex: 1;
  margin: 2px;
  border: 1px solid #0948B7;
  color: #0948B7;
  background-color: #FFFFFFFF;
  padding: 10px 20px;
}

.collaborator-edit-delete-button/*deleteButtonControlStyle*/ {
  display: flex;
  justify-content: flex-end;
}