{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@babel", "react-hooks"],
  "rules": {
    "no-trailing-spaces": "warn",
    "no-unreachable": "warn",
    "no-console": "warn",
    "array-bracket-spacing": "warn",
    "no-unused-vars": "warn",
    "no-extra-semi": "warn",
    "quotes": ["warn", "single", {"avoidEscape": true}], // Checks for single quote usage where possible
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js", ".jsx"
        ]
      }
    ],
    "react/prop-types": "off",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "@babel/implicit-arrow-linebreak": "off",
    "@babel/array-bracket-newline": "off",
    "@babel/brace-style": "off",
    "@babel/semi": "warn"
  }
}
