{
  "extends": "react-app",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "indent": [
      "warn",
      2,
      { "SwitchCase": 1 }
    ],
    "implicit-arrow-linebreak": "off",
    "array-bracket-newline": "off",
    "brace-style": "off",
    "no-trailing-spaces": "warn",
    "semi": "warn",
    "no-unreachable": "warn",
    "no-await-in-loop": "warn",
    "no-console": "warn",
    "array-bracket-spacing": "warn"
  }
}
