.researcher-status-value {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.researcher-status-value-active {
  color: #00928a;
}

.researcher-status-value-inactive {
  color: #777;
}

.researcher-status-inactive-notice {
  margin-top: 10px;
}
