.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #094887;
}

.button-white,
.button-secondary-default {
  color: #0948B7;
  border-color: #0948B7;
  background-color: white;
}

.button-blue {
  color: white;
  background-color: #005D9A;
}

.button-blue:hover {
  color: white;
  background-color: #094887;
}

.button-complex-outlined-secondary {
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #005D9A;
  background-color: white;
  min-width: 120px;
  top: 3733px;
  left: 67px;
  border-radius: 4px;
  border: 1px solid #4D72AA;
  padding: 4px 8px;
  gap: 4px;
}

.button-complex-primary {
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: center;
  color: white;
  background-color: #005D9A;
  min-width: 120px;
  top: 3733px;
  left: 67px;
  border-radius: 4px;
  border: 1px solid #4D72AA;
  padding: 4px 8px;
  gap: 4px;
}

.button-complex-secondary-minor {
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #005D9A;
  background-color: white;
  min-width: 120px;
  top: 3733px;
  left: 67px;
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  gap: 4px;
}

.button-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.button-icon-circle-plus-outline {
  content: url('/src/images/google-svg/add_circle.svg');
}

.button-icon-close-small {
  content: url('/src/images/google-svg/close_small.svg');
}

.button-icon-close {
  content: url('/src/images/google-svg/close.svg');
}

.button-icon-file-upload {
  content: url('/src/images/google-svg/upload.svg')
}

