/* -------------------------------------------------
Headings
-------------------------------------------------*/
.h2, h2 {
  color: #333F52;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

.h3, h3 {
  color: #333F52;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.h4, h4 {
  color: #333F52;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
