body {
  font-size: 16px !important;
}

h2,
h3,
h4,
h5,
body {
  text-align: left;
  color: rgb(31, 59, 80) !important;
  margin: 5px 100px;
  font-family: "Montserrat", sans-serif !important;
  background: white;
  margin-block: 0;
  margin-inline: 0;
}

h1 {
  display: block;
  padding: 10px;
  margin: -5px -100px 35px;
  text-align: left;
}

.image {
  display: block;
  margin: 10px auto;
}

