body {
  background: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  color: #00243c !important;
}

h1 {
  display: block;
  padding: 10px;
  margin: 5px;
}

.image {
  display: block;
  margin: 10px auto;
}

.image {
  display: block;
  margin: 10px auto;
}
