.btn-primary-dac-datasets {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #0948B7;
    border-radius: 5px;
    height: 40px;
    transition: background 0.3s ease;
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 20px 0 20px 16px;
    color: #0948B7;
    background-color: #FFFFFFFF;
    padding: 10px 20px;
}

.add-button {
    margin-top: 1em !important;
    font-size: 1.2em !important;
    color: #0948B7;
    vertical-align: center;
    border: 1px solid #0948B7;
    border-radius: 5px;
}

.cell-data {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
    border-spacing: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}