.rp-form-title {
  margin: 25px 10px 5px 10px
}

.rp-agreement {
  float: left;
  text-align: left;
  display: block;
  font-weight: normal;
  font-size: 15px;
  color: #777777;
  margin: 5px 0;
}

ol.rp-agreement {
  line-height: 25px;
  margin-left: 33px;
}

a.btn-primary,
a.btn-secondary {
  padding-top: 10px;
}

.btn-download-pdf {
  height: 35px;
  line-height: 18px;
}

.btn-download-pdf .glyphicon {
  margin-right: 10px;
  font-size: 16px;
}

.fileUpload.btn-download-pdf {
  margin-bottom: 10px;
}

.btn-download-pdf:not([disabled]):hover,
fieldset:not([disabled]) .btn-download-pdf:hover {
  background: #2FA4E7 !important;
  color: #ffffff !important;
}

.select-autocomplete .select__control {
  border: 1px solid #999999;
  background: #ffffff;
}

.required-select-error .select__control {
  outline: none;
  border: solid 1px #D13B07;
}

.select-autocomplete .select__control--is-focused,
.select-autocomplete .select__control--is-focused:hover {
  border: 1px solid  rgba(47, 164, 231, 0.75);
  box-shadow: 0 0 3px rgba(47, 164, 231, 0.5);
}

.select-autocomplete .select__multi-value {
  background: rgba(96, 59, 155, 0.2);
  border-radius: 3px;
  border: none !important;
}

.select-autocomplete .select__multi-value__label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 26px;
  line-height: 25px;
  padding: 1px 10px 0 10px;
  color: #603B9B;
  font-weight: 500;
}

fieldset {
  min-width: 100%;
}

fieldset[disabled] .btn-download-pdf {
  background: #eeeeee;
  color: #cccccc !important;
  box-shadow: none;  
}

fieldset[disabled] .btn-download-pdf,
fieldset[disabled] .select-autocomplete {
  cursor: default;
  pointer-events: none;
}

fieldset[disabled] .select-autocomplete .select__control {
  color: #cccccc !important;
  background: #eeeeee;
}

fieldset[disabled] .regular-checkbox:before {
  cursor: not-allowed !important;
  opacity: 0.65;
}

/* ------------------------------------- */
/*    New Forms Styles                   */
/* ------------------------------------- */
.forms-v2 {
  border-top: 1px solid #929292;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 0;
}

/* ------------------------------------- */
/*    MUI Overrides                      */
/* ------------------------------------- */
.multi-step-buttons-container {
  width: 200px;
  flex-shrink: 0;
  margin-top: 25px;
  margin-right: 25px;
}

.multi-step-buttons-container .MuiButtonBase-root {
  align-items: flex-start;
}

.multi-step-buttons-container .MuiTabs-indicator {
  width: 5px;
  right: unset;
  left: 0;
}

.multi-step-buttons-container .MuiButtonBase-root {
  margin-top: 25px;
}

.multi-step-buttons-container .step,
.multi-step-buttons-container .Mui-selected .step {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #646464;
  text-transform: none;
  text-align: left;
  margin-bottom: 5px;
}

.multi-step-buttons-container .title {
  font-size: 17px;
  font-weight: bold;
  font-family: 'Montserrat';
  text-transform: none;
  text-align: left;
  color: #333F52;
}

.multi-step-buttons-container .Mui-selected .title {
  color: #2BBD9B;
}

.multi-step-buttons-container .MuiTouchRipple-root span {
  background-color: rgba(43, 189, 155, .3);
}

