.admin-box-wrapper {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
}

.admin-box:hover {
    background: #2FA4E7 !important;
}

@media (max-width: 800px) {
    .admin-box {
        margin: 10px 0;
    }
}

.admin-box-icon {
    position: absolute;
    top: 15px;
    left: 20px;
    display: inline-block;
    width: 35px;
    height: 40px;
    background: url('/images/admin_icons.png') no-repeat 0 0;
    overflow: hidden;
    vertical-align: top;
    margin: 8px 0 0 0;
}

.manage-dul {
    background-position: 0 0;
    width: 34px !important;
}

.admin-box:hover .manage-dul {
    background-position: 0 -40px !important;
}

.add-dul {
    background-position: -35px 0;
}

.admin-box:hover .add-dul {
    background-position: -35px -40px !important;
}

.manage-user {
    background-position: -70px 0;
    width: 34px !important;
}

.admin-box:hover .manage-user {
    background-position: -70px -40px !important;
}

.add-user {
    background-position: -105px 0;
}

.admin-box:hover .add-user {
    background-position: -105px -40px !important;
}

.add-dul_white {
    background-position: -140px 0;
    margin: -8px 0 0 0;
}

.add-user_white {
    background-position: -140px -40px;
    margin: -8px 0 0 -10px;
}

.edit-dul {
    background-position: -175px 0;
}

.edit-user {
    background-position: -175px -40px;
}

.download-dataset {
    background-position: -210px 0;
    width: 40px !important;
}

.admin-box:hover .download-dataset {
    background-position: -210px -40px;
    width: 40px !important;
}

.add-dataset {
    background-position: -250px 0;
    width: 40px !important;
}

.admin-box:hover .add-dataset {
    background-position: -250px -40px;
    width: 40px !important;
}

.manage-access {
    background-position: -290px 0;
    width: 35px !important;
}

.admin-box:hover .manage-access {
    background-position: -290px -40px !important;
}

.add-access_white {
    background-position: -325px 0;
    margin: -8px 0 0 0;
}

.add-help_white {
    background-position: -325px -40px;
    margin: -8px 0 0 -5px;
}

.manage-timeout {
    background-position: -360px 0;
    width: 35px !important;
}

.admin-box:hover .manage-timeout {
    background-position: -360px -40px !important;
}

.invalid-restrictions {
    background-position: -395px 0;
    width: 43px !important;
}

.admin-box:hover .invalid-restrictions {
    background-position: -395px -40px !important;
}

.manage-ontologies {
    background-position: -438px 0;
    width: 46px !important;
}

.admin-box:hover .manage-ontologies {
    background-position: -438px -40px !important;
}

.add-ontologies {
    background-position: -484px 0;
    width: 46px !important;
}

.admin-box:hover .add-ontologies {
    background-position: -484px -40px !important;
}

.manage-dac {
    background-position: -530px 0;
    width: 40px !important;
}

.admin-box:hover .manage-dac {
    background-position: -530px -40px !important;
}

.add-dac {
    background-position: -570px 0;
    width: 40px !important;
}

.admin-box:hover .add-dac {
    background-position: -570px -40px !important;
}

.admin-box-text.default{
    margin: 10px 0 5px 45px;
}

.admin-box-text.large {
    margin: 10px 0 5px 55px;
}

.admin-box-title {
    font-size: 22px;
    font-weight: 500;
    margin: 8px 0 3px 0;
    vertical-align: 40%;
}

.admin-box:hover .admin-box-title {
    color: #ffffff !important;
}

.admin-box:hover .admin-box-title .pcases-medium-tag {
    background: #ffffff;
    color: #2FA4E7;
    font-weight: 700 !important;
}

.admin-box .admin-box-description {
    font-size: 16px;
    line-height: 20px;
    color: #777777;
    font-style: italic;
}

.admin-box:hover .admin-box-description {
    color: #cccccc !important;
}
