.alert-wrapper {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  margin: 10px auto;
}

.alert-wrapper.danger {
  background-color: #FCEDEB;
  color: #D13B07;
}

.alert-wrapper.info {
  background-color: #cce5ff;
  color: #004085;
}

.alert-wrapper.important {
  background-color: white;
  border: 1px solid #6B0080;
  border-radius: 5px;
}

.alert-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.alert-wrapper.important .alert-title {
  color: #6B0080;
}

.alert-description {
  display: block;
  padding-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.alert-wrapper hr {
  border-color: #cccccc !important;
}

.rp-alert {
  margin: 15px 10px;
}

.vote-box-alert .alert-title,
.dialog-alert .alert-title {
  font-size: 15px;
  line-height: 20px;
}

.vote-box-alert .alert-wrapper {
  margin-top: 0;
}

.summary-alert .alert-title {
  font-size: 15px;
  text-align: center;
}

small.font-normal {
  display: block;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  margin-top: 5px;
}

.css-form-container {
  border: 1px solid #E1E1E1;
  padding: 26px 0px 26px 52px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 15px 0;
}

.css-form-container.dashed {
  border: 2px dashed #E1E1E1;
  height: 206px;
  padding: 26px 0px;
  margin-top: 97px;
}

.css-form-container .control-label {
  margin-bottom: 5px;
}

.css-form-container p.upload {
  font-size: 16px;
  text-align: center;
}

p.bottom-cta {
  position: absolute;
  font-size: 16px;
  text-align: left;
  line-height: 22px;
  font-weight: 100;
  margin: 0;
  bottom: -135px;
}

p.bottom-cta#uploadCta {
  bottom: -43px;
}

p.bottom-cta .block {
  display: block;
}

p.bottom-cta a {
  text-decoration: underline !important;
}

.hover-color.green {
  color: #00928A !important;
}

.document-icon {
  display: block;
  width: 54px; 
  height: 68px;
  margin: 20px auto 26px auto;
  background-image: url('../images/icon-document.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox.overwrite {
  margin: 0 0 68px 0;
  width:100%;
}

.checkbox.overwrite .regular-checkbox {
  color: #000000;
}
