.alert-wrapper {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  margin: 10px auto;
}

.alert-wrapper.danger {
  background-color: #FCEDEB;
  color: #D13B07;
}

.alert-wrapper.info {
  background-color: #cce5ff;
  color: #004085;
}

.alert-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.alert-description {
  display: block;
  padding-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.alert-wrapper hr {
  border-color: #cccccc !important;
}

.rp-alert {
  margin: 15px 10px;
}

.vote-box-alert .alert-title,
.dialog-alert .alert-title {
  font-size: 15px;
  line-height: 20px;
}

.vote-box-alert .alert-wrapper {
  margin-top: 0;
}

.summary-alert .alert-title {
  font-size: 15px;
  text-align: center;
}
