.modal-header {
    width: 100%;
    padding: 0 15px 5px 15px;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-content {
    width: 100%;
    padding: 10px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    outline: 0;
}

.modal-content .summary ul{
  margin: 0 15px;
}

.modal-content .summary hr{
  margin: 15px 0 10px 0;
}

.modal-content .summary .alert-danger {
  padding: 15px 20px;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}

.modal-content .summary .control-label,
.modal-content .summary .response-label {
  padding-top: 7px;
  line-height: 22px;
}

.modal-footer {
    width: 100%;
    padding: 15px 15px 0 15px;
    float: right;
    text-align: center
}

.modal-footer button {
    float: right;
    border: 0;
    transition: background 0.3s ease;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    height: 35px;
    line-height: 13px;
    box-shadow: 2px 2px rgb(204, 204, 204) !important;
    padding: 4px 40px 3px 40px;
    margin: 0 0 0 20px;
}

.modal-footer button:first-child {
    background: #eeeeee;
    color: #777777;
}

.modal-footer button:hover:enabled {
    background: #2FA4E7 !important;
    color: #ffffff !important;
}

.modal-footer button.dismiss-background {
    color: #777777;
}

.modal-footer button.dul-background,
.modal-footer button.access-background,
.modal-footer button.dataset-background,
.modal-footer button.common-background,
.modal-footer button.default-background {
    color: #ffffff;
}






