.collapsible-panel {
  border: 1px solid rgb(199, 198, 198);
  margin: 0.5em 0.2em 0.2em 0.5em;
}

.panel-content.expanded {
  display: block;
}

.panel-content.collapsed {
  display: none;
}

.collapsible-panel,
.collapsible-panel .panel-heading {
  background-color: #ffffff;
}

.collapsible-panel .panel-heading h3 {
  margin: 10px 5px 5px 5px;
}