.dialog-header {
  width: 100%;
  padding: 0 5px 2px 5px;
}

.dialog-title {
  margin: 10px 0 5px 0;
  line-break: auto;
  font-size: 22px;
  padding: 5px 10px 0 0;
  font-weight: 500;
}

.dialog-description {
  color: #777777;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.dialog-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
}

.dialog-content {
  width: 100%;
  padding: 0 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  outline: 0;
}

.dialog-footer {
  width: 100%;
  padding: 15px 5px 5px 5px;
  text-align: center;
}

.dialog-footer button {
  border: 0;
  transition: background 0.3s ease;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  height: 35px;
  line-height: 13px;
  box-shadow: 2px 2px rgb(204, 204, 204) !important;
}

.dialog-footer button#btn_cancel {
  background: #eeeeee;
  color: #777777;
  margin-right: 10px;
}

.dialog-footer button#btn_action {
  margin-left: 10px;
}

.dialog-footer button:hover:enabled {
  background: #2FA4E7 !important;
  color: #ffffff !important;
}

.dialog-footer button.dismiss-background {
  color: #777777;
}

.dialog-footer button.dul-background, .dialog-footer button.access-background, .dialog-footer button.dataset-background, .dialog-footer button.common-background, .dialog-footer button.default-background {
  color: #ffffff;
}
