.banner {
    text-align: justify;
    box-shadow: 0 0 5px;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: 1px solid gray;
    padding: 15px 30px 15px 30px;
    background-color: white;
    color: #00243c;
}

.banner-link {
    color: #00243c;
    text-decoration: underline;
    font-weight: bold;
}

.banner-link:hover {
    text-decoration: underline;
    color: #1a73e8
}

@media screen and (max-width: 800px) {
    .banner {
        position: fixed;
        bottom: 20px;
        width: 80%;
        margin: 15px auto;
        padding: 10px 20px 10px 20px;
    }
}
