.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  vertical-align: sub;
}

.radio-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #999999;
}

/* On mouse-over */
.radio-wrapper:hover input~.radio-check {
  box-shadow: 0 0 2px 2px rgba(47, 164, 231, 0.3);
}

/* When the radio button is checked */
.radio-wrapper input:checked ~ .radio-check {
  box-shadow: 0 0 2px 2px rgba(47, 164, 231, 0.3);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-wrapper input:checked~.radio-check:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-wrapper .radio-check:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196F3;
}


fieldset[disabled] .radio-wrapper {
  opacity: 0.65 !important;
  cursor: not-allowed;
}
