<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="duos-ui/assets/css/style.css">
</head>
<body>
<div class="container-lg px-3 my-5 markdown-body">

    {{ content }}

    {% if site.github.private != true and site.github.license %}
    <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
    </div>
    {% endif %}
</div>
<!--anchors allow you to add deep links easily throughout your site-->
<!--anchor.add() can take a selector, with nothing specified anchors are added to h2, h3, h4, h5, h6 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
</body>
</html>
