/* Workaround for a react-error-overlay bug:
  https://github.com/facebook/create-react-app/issues/11773
  https://github.com/facebook/create-react-app/issues/12064
*/
body > iframe {
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
  Fix for tooltip flicker on mouseover for react-google-charts
  See https://stackoverflow.com/questions/37902708/google-charts-tooltip-flickering
  And https://github.com/google/google-visualization-issues/issues/2162
*/
svg > g > g:last-child { pointer-events: none }

/*///////////////////////////////////////////////////////AUX STYLES FOR NAVIGATION*/
